.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      cursor: pointer;
      margin-top: 0.25rem;
      background-color: rgb(193, 193, 193);
      padding: 0.25rem 1rem;
      border-radius: 1rem;
    }
  }
}
