.edit-contact {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    label {
      display: flex;
      flex-direction: column;
      width: 75%;
    }
    button {
      width: 75%;
    }
  }
}
